.main-poster {
  background: no-repeat 0 332px url("../img/main-poster/after-pic.svg"),
  no-repeat -455px -46px url("../img/main-poster/back-desktop.jpg");
}

.main__wrapper {
}

.main-poster__image-wrapper {
  padding: 90px 20px 84px;
}

.image-wrapper {
}

.main-poster__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-poster__image--welcome {
  padding-bottom: 32px;
}

.main-poster__image--sedona {
  padding-bottom: 33px;
}

.main-poster__image--canyon {

}
