// Viewports

$large-width: 1200px;
$medium-width: 768px;
$small-width-only: 767px;

//colors

$white-color: #ffffff;
$button: #81b3d2;
$hover-btn: #669ec0;
$active-btn: #5496bd;
$disabled-btn: #e5e5e5;
$black-color: #000000;
$current-menu: #766357;
$grey-line: #e5e5e5;
$input: #f2f2f2;
$active-input: #d5d5d5;

// resolution
$retina-resolution: 2dppx;
